.ordem td {
    max-width: 10rem;
    flex-wrap: wrap;
    border-bottom: 1px solid #0005;
}

.opcao {
    display: flex;
    width: 20px;
    cursor: pointer;
}

.descricao {
    min-width: 15rem;
    flex-wrap: wrap;
}

@media (max-width: 780px) {
    .descricao {
        display: none;
    }
}