.iconePadrao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    width: 100%;
    color: #7c7c7c;
    background-color: #d0d0d03f;
    margin-bottom: 3px;
}

.iconePadrao:hover {
    background-color: #0002;
    cursor: pointer;
}

.iconeSair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    color: #FFF;
    background-color: rgba(251, 6, 6, 0.599);
}

.iconeSair:hover {
    background-color: #e93131;
    cursor: pointer;
}

.icone {
    width: 30px;
}

@media (max-width: 400px) {
    .icone {
        width: 25px;
    }
    
    .iconePadrao {
        text-align: center;
        background-color: #FFF;
        color: #000;
    }

    .iconeSair {
        width: 80px;
    }
}